body {
    background-color: rgb(23, 23, 65);
}

.App {
    display: flex;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 250px;
    margin: 16px;
}

img {
    width: 170px;
    height: 250px;
}

.poster {
    margin: 5px;
}

.poster-overview {
    margin: 5px;
}

.title-box {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 5px;
    margin: 0;

    background-color: rgb(61, 61, 107);
    width: 94%;
    height: 60px;
    font-size: 12px;
    color:white;
    border-radius: 0.2em;
}

.vote_average {
    display: flex;
    justify-content: right;
}

.title {
    display: flex;
    justify-content: left;
}

.overview {
    display:  none;

    background-color: rgba(0, 0, 0, 0.7);
    font-size: 8px;
    color:white;

    position: absolute;
    height: 315px;
    width: 162px;
    padding: 5px;
    
    transform: translate(-6px, -330px); 
    -ms-transform: translate(-6px, -330px);
}

.poster:hover .overview {
    cursor: pointer;
    display: flex;
}
